<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
    <input type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName" placeholder="Full Name"
    required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
    <div *ngIf="signUpForm.submitted && !fullName.valid">
      <label class="validation-message">This field is required.</label>
    </div>
    <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
    required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
    <div *ngIf="signUpForm.submitted && email.errors">
      <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
      <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
    </div>
    <input type="text" #message="ngModel" [(ngModel)]="userService.selectedUser.message" name="message" placeholder="message"
    minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !message.valid }">
    <div *ngIf="signUpForm.submitted && message.errors">
      <label *ngIf="message.errors.required" class="validation-message">This field is required.</label>
      <label *ngIf="message.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
    </div>
    <input type="submit" value="Sign Up">
  </form>
  
  <!-- Success message -->
  <div class="success" *ngIf="showSucessMessage">
    Saved successfully
  </div>
  
  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>